<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TODAppName</key>
	<string>Google Calendar</string>
	<key>TODHomeURLString</key>
	<string>https://www.google.com/calendar/b/0/render</string>
</dict>
</plist>
